{% extends "main.html.twig" %}
{% block title %}Base{% endblock %}
{% block page_title %}Base{% endblock %}
{% block content %}
    {% for data in text %}
        <div style="display: flex; justify-content: center; padding-bottom: 10px;">
            <div style="width: 75%;">{{ data.data }}</div>
            <div>{{ data.date }}</div>
        </div>
    {% endfor %}
{% endblock %}
