<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<nav style="display: flex; justify-content: left;">
    <div style="width: 15%;">
        <h1 style="margin: 0;">{% block page_title %}{% endblock %}</h1>
    </div>
    <div style="width: 100%; display: flex; justify-content: space-evenly; align-items: center;">
        <a href="/add.php?action=add">TEST BASE</a>
        <a href="/add.php?action=delete_tests">DELETE TESTS</a>
        <a id="add_orders" href="#">ADD ORDERS</a>
        <a href="http://t91265r5.beget.tech/base.php?page=requests">REQUESTS</a>
        <a href="http://t91265r5.beget.tech/base.php?page=orders">ORDERS</a>
        <a href="http://t91265r5.beget.tech/errors.php">LOGS</a>
    </div>
</nav>
    {% block content %}{% endblock %}

<script>
    let addOrders = document.querySelector('#add_orders');
    addOrders.onclick = function () {
        if (confirm('Перезагрузить базу?')) {
            document.location.href = '/add.php?action=add_orders';
        }
    }

</script>
</body>
</html>
